<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="associatedOrganizations" type="java.util.Set<io.cloudflight.jems.plugin.contract.models.project.sectionB.associatedOrganisation.ProjectAssociatedOrganizationData>"*/-->
<!--/*@thymesVar id="clfPartnerUtils" type="io.cloudflight.jems.plugin.standard.common.PartnerUtils"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="partnerAssociatedOrganizationTable(associatedOrganizations)">
    <div class="page-break-before"></div>
    <div class="title" id="associated-organizations"
         th:text="#{project.application.form.section.part.b.associatedOrganizations}">Associated
        organizations
    </div>
    <span th:if="${associatedOrganizations?.size() == 0}"
          th:text="#{project.application.form.associatedOrganization.list.empty}">No
        associated organizations
    </span>

    <th:block th:if="${projectDataSectionB.associatedOrganisations?.size() > 0}">
        <table class="default-table" clf:ifAnyFieldIsVisible="PARTNER_ASSOCIATED_ORGANIZATIONS">
            <thead class="table-header">
            <tr>
                <th th:text="#{project.application.form.associatedOrganization.table.number}">Number</th>

                <th th:text="#{project.application.form.associatedOrganization.table.status}">Status</th>

                <th th:text="#{project.organization.original.name.label}">
                    Partner name in Original language
                </th>

                <th th:text="#{project.application.form.associatedOrganization.table.partner}">
                    Name of the responsible project partner
                </th>

            </tr>
            </thead>
            <tbody class="table-body">
            <tr th:if="${projectDataSectionB.associatedOrganisations.size() == 0}">
                <td colspan="4"></td>
            </tr>
            <tr th:each="organization, rowStat: ${clfPartnerUtils.sortAssociatedOrganizationsBySortNumber(projectDataSectionB.associatedOrganisations)}"
                th:object="${organization}">
                <td th:text="*{sortNumber}"></td>
                <td th:text="${organization.active}  ? #{project.application.form.associatedOrganization.table.status.active} : #{project.application.form.associatedOrganization.table.status.inactive}"></td>
                <td th:text="*{nameInOriginalLanguage}"></td>
                <td th:text="${organization.partner.abbreviation}">
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block th:each="associatedOrganization, rowStat: ${clfPartnerUtils.sortAssociatedOrganizationsBySortNumber(associatedOrganizations)}"
              th:object="${associatedOrganization}">
        <table class="default-vertical-table mt-2rem">
            <thead class="table-header">
            <tr class="sub-heading-2">
                <td colspan="2"
                    th:with="associatedOrganizationTitle = ${associatedOrganization.nameInOriginalLanguage} + ' ' + ${'AO'+associatedOrganization.sortNumber}"
                    th:text="${associatedOrganizationTitle}"
                    th:id="${associatedOrganizationTitle}"
                >
                    Associated organization title
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr>
                <th th:text="#{project.application.form.partner.table.number}">Number</th>
                <td th:if="${isSPFCall == false}" th:text="(*{partner.role?.isLead()}? 'LP' : 'PP') + *{partner.sortNumber}"></td>
                <td th:if="${isSPFCall == true}" th:text="#{spf.common.label.project.partner.role.shortcut.LEAD_PARTNER}"></td>
            </tr>
            <tr>
                <th th:text="#{project.organization.original.name.label}">
                    Name in original language
                </th>
                <td th:text="*{nameInOriginalLanguage}"></td>
            </tr>
            <tr>
                <th th:text="#{project.organization.english.name.label}">
                    Name in english
                </th>
                <td th:text="*{nameInEnglish}"></td>
            </tr>
            <tr>
                <th th:text="#{project.partner.main-address.country}">Country</th>
                <td th:text="*{address?.country}"></td>
            </tr>
            <tr>
                <th th:text="#{project.partner.main-address.region2}">Region</th>
                <td th:text="*{address?.nutsRegion2}"></td>
            </tr>
            <tr>
                <th th:text="#{project.partner.secondary-address.region3}">Sub region</th>
                <td th:text="*{address?.nutsRegion3}"></td>
            </tr>
            <tr>
                <th th:text="#{project.partner.main-address.street} + ', ' + #{project.partner.main-address.housenumber} + ', ' + #{project.partner.main-address.postalcode} + ', ' + #{project.partner.main-address.city}">Address details
                </th>
                <td>
                    <div>
                        <span th:text="*{address?.street} "></span>
                        <span th:text="*{address?.houseNumber}"></span>
                    </div>
                    <div>
                        <span th:text="*{address?.postalCode} "></span>
                        <span th:text="*{address?.city}"></span>
                    </div>
                </td>
            </tr>
            <th:block
                    th:with="legalRepresentative=${clfPartnerUtils.getLegalRepresentative(associatedOrganization?.contacts)}">
                <tr>
                    <th th:text="#{project.partner.representative.header.detail}">Legal
                        representative
                    </th>
                    <td>
                        <span th:text="${legalRepresentative?.title} "></span>
                        <span th:text="${legalRepresentative?.firstName} "></span>
                        <span th:text="${legalRepresentative?.lastName}"></span>
                    </td>
                </tr>
            </th:block>
            <th:block th:with="contactPerson=${clfPartnerUtils.getContactPerson(associatedOrganization.contacts)}">
                <tr>
                    <th th:text="#{project.partner.contact.header.detail}">Contact person
                    </th>
                    <td>
                        <span th:text="${contactPerson?.title} "></span>
                        <span th:text="${contactPerson?.firstName} "></span>
                        <span th:text="${contactPerson?.lastName}"></span>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{authentication.email.label}">Email</th>
                    <td th:text="${contactPerson?.email}"></td>
                </tr>
                <tr>
                    <th th:text="#{project.partner.contact.telephone}">Phone</th>
                    <td th:text="${contactPerson?.telephone}"></td>
                </tr>
            </th:block>
            <tr>
                <th th:text="#{project.application.form.partner.table.role}">Role description</th>
                <td clf:textTranslationByDataLanguage="*{roleDescription}"></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${rowStat.last == false }" class="page-break-after"></div>
    </th:block>
</th:block>
</body>
</html>
