<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionB" type="io.cloudflight.jems.plugin.contract.models.project.sectionB.ProjectDataSectionB"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="partnerDetailTable(projectDataSectionB)">
    <th:block th:each="partner, rowStat: ${clfUtils.sortPartnersBySortNumber(projectDataSectionB.partners)}"
              th:object="${partner}">
        <table class="default-vertical-table">
            <thead class="table-header">
            <tr class="sub-heading-2">
                <td colspan="2" th:if="${isSPFCall == true}"
                    th:text="#{spf.common.label.project.partner.role.LEAD_PARTNER}"
                    th:id="*{sortNumber}"
                ></td>
                <td colspan="2"
                    th:if="${isSPFCall == false}"
                    th:with="partnerTitle=*{role?.isLead()} ? #{export.partner.detail.lead.partner.title} : #{export.partner.detail.project.partner.title(*{sortNumber})}"
                    th:text="${partnerTitle}"
                    th:id="*{sortNumber}"
                >
                    Partner title
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr>
                <th th:text="#{project.application.form.partner.table.number}">Number</th>
                <td th:text="*{sortNumber}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_ROLE">
                <th th:text="#{project.application.form.partner.table.role}">Role</th>
                <td th:text="*{role?.isLead()}? 'LP' : 'PP'"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_ORIGINAL_NAME_OF_ORGANISATION">
                <th th:text="#{project.organization.original.name.label}">
                    Partner name in original language
                </th>
                <td th:text="*{nameInOriginalLanguage}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_ENGLISH_NAME_OF_ORGANISATION">
                <th th:text="#{project.organization.english.name.label}">
                    Partner name in english
                </th>
                <td th:text="*{nameInEnglish}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_ABBREVIATED_ORGANISATION_NAME">
                <th th:text="#{project.application.form.partner.table.name}">Abbreviation</th>
                <td th:text="*{abbreviation}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_DEPARTMENT_UNIT_DIVISION">
                <th th:text="#{project.organization.department.label}">
                    Department/unit/division
                </th>
                <td class="multiline" clf:textTranslationByDataLanguage="*{department}"></td>
            </tr>
            </tbody>
        </table>
        <table class="default-vertical-table"
               clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_COUNTRY_AND_NUTS,PARTNER_MAIN_ADDRESS_HOMEPAGE,PARTNER_MAIN_ADDRESS_STREET,PARTNER_MAIN_ADDRESS_HOUSE_NUMBER,PARTNER_MAIN_ADDRESS_POSTAL_CODE,PARTNER_MAIN_ADDRESS_CITY"
               th:with="mainAddress=${clfUtils.getMainAddress(partner.addresses)}">
            <thead class="table-header">
            <tr class="sub-heading-1">
                <td colspan="2" th:text="#{project.partner.main-address.header}">Main
                    address
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_COUNTRY_AND_NUTS">
                <th th:text="#{project.partner.main-address.country}">Country</th>
                <td th:text="${mainAddress?.country}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_COUNTRY_AND_NUTS">
                <th th:text="#{project.partner.main-address.region2}">Region</th>
                <td th:text="${mainAddress?.nutsRegion2}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_COUNTRY_AND_NUTS">
                <th th:text="#{project.partner.main-address.region3}">Sub region</th>
                <td th:text="${mainAddress?.nutsRegion3}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_STREET,PARTNER_MAIN_ADDRESS_HOUSE_NUMBER,PARTNER_MAIN_ADDRESS_POSTAL_CODE,PARTNER_MAIN_ADDRESS_CITY">
                <th th:text="#{project.partner.main-address.street} + ', ' + #{project.partner.main-address.housenumber} + ', ' + #{project.partner.main-address.postalcode} + ', ' + #{project.partner.main-address.city}">Address details
                </th>
                <td>
                    <div clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_STREET,PARTNER_MAIN_ADDRESS_HOUSE_NUMBER">
                        <span clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_STREET"
                              th:text="${mainAddress?.street} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_HOUSE_NUMBER"
                              th:text="${mainAddress?.houseNumber}"></span>
                    </div>
                    <div clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_POSTAL_CODE,PARTNER_MAIN_ADDRESS_CITY">
                        <span clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_POSTAL_CODE"
                              th:text="${mainAddress?.postalCode} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_CITY"
                              th:text="${mainAddress?.city}"></span>
                    </div>
                </td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_MAIN_ADDRESS_HOMEPAGE">
                <th th:text="#{project.partner.main-address.homepage}">Homepage</th>
                <td th:text="${mainAddress?.homepage}"></td>
            </tr>
            </tbody>
        </table>
        <table class="default-vertical-table"
               clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_COUNTRY_AND_NUTS,PARTNER_SECONDARY_ADDRESS_STREET,PARTNER_SECONDARY_ADDRESS_HOUSE_NUMBER,PARTNER_SECONDARY_ADDRESS_POSTAL_CODE,PARTNER_SECONDARY_ADDRESS_CITY,PARTNER_CONTACT_PERSON_TELEPHONE,PARTNER_MOTIVATION_ROLE"
               th:with="departmentAddress=${clfUtils.getDepartmentAddress(partner.addresses)}">
            <thead class="table-header">
            <tr class="sub-heading-1">
                <td colspan="2"
                    th:text="#{project.partner.department-address.header}">
                    Department Address
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_COUNTRY_AND_NUTS">
                <th th:text="#{project.partner.main-address.country}">Country</th>
                <td th:text="${departmentAddress?.country}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_COUNTRY_AND_NUTS">
                <th th:text="#{project.partner.main-address.region2}">Region</th>
                <td th:text="${departmentAddress?.nutsRegion2}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_COUNTRY_AND_NUTS">
                <th th:text="#{project.partner.main-address.region3}">Sub region</th>
                <td th:text="${departmentAddress?.nutsRegion3}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_STREET,PARTNER_SECONDARY_ADDRESS_HOUSE_NUMBER,PARTNER_SECONDARY_ADDRESS_POSTAL_CODE,PARTNER_SECONDARY_ADDRESS_CITY">
                <th th:text="#{project.partner.main-address.street} + ', ' + #{project.partner.main-address.housenumber} + ', ' + #{project.partner.main-address.postalcode} + ', ' + #{project.partner.main-address.city}">Address details
                </th>
                <td>
                    <div clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_STREET,PARTNER_SECONDARY_ADDRESS_HOUSE_NUMBER">
                        <span clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_STREET"
                              th:text="${departmentAddress?.street} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_HOUSE_NUMBER"
                              th:text="${departmentAddress?.houseNumber}"></span>
                    </div>
                    <div clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_POSTAL_CODE,PARTNER_SECONDARY_ADDRESS_CITY">
                        <span clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_POSTAL_CODE"
                              th:text="${departmentAddress?.postalCode} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_SECONDARY_ADDRESS_CITY"
                              th:text="${departmentAddress?.city}"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="default-vertical-table"
               clf:ifAnyFieldIsVisible="PARTNER_TYPE,PARTNER_SUB_TYPE,PARTNER_LEGAL_STATUS,PARTNER_NACE_GROUP_LEVEL,PARTNER_VAT_IDENTIFIER,PARTNER_VAT_RECOVERY,PARTNER_OTHER_IDENTIFIER_NUMBER_AND_DESCRIPTION,PARTNER_PIC">
            <thead class="table-header">
            <tr class="sub-heading-1">
                <td colspan="2"
                    th:text="#{project.partner.detail.title.legal.financial}">
                    Legal and financial information
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr clf:ifAnyFieldIsVisible="PARTNER_TYPE">
                <th th:text="#{project.partner.type}">Partner type</th>
                <td>
                    <span th:if="${partner.partnerType != null}"
                          th:text="#{${clfUtils.getPartnerTypeTranslationString(partner.partnerType)}}">
                    </span>
                </td>
            </tr>
            <th:block th:if="${isSPFCall == true}">
                <tr clf:ifAnyFieldIsVisible="PARTNER_TYPE">
                    <th th:text="#{spf.beneficiary.type}">Type of SPF beneficiary</th>
                    <td>
                    <span th:if="${partner.partnerType != null}"
                          th:text="#{${clfUtils.getPartnerSpfBeneficiaryTypeTranslationKey(partner.partnerType)}}">
                    </span>
                    </td>
                </tr>
            </th:block>
            <tr clf:ifAnyFieldIsVisible="PARTNER_SUB_TYPE">
                <th th:text="#{project.partner.subType}">Partner sub type</th>
                <td>
                    <span th:if="${partner.partnerSubType != null}"
                          th:text="#{${clfUtils.getPartnerSubTypeTranslationString(partner.partnerSubType)}}">
                    </span>
                </td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_LEGAL_STATUS">
                <th th:text="#{project.partner.legal.status}">Legal status</th>
                <td clf:texttranslationbyexportlanguage="*{legalStatusDescription}">legal status description</td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_NACE_GROUP_LEVEL">
                <th th:text="#{project.partner.nace}">NACE</th>
                <td>
                    <span th:if="${partner.nace != null}"
                          th:text="${clfUtils.getPartnerNaceTranslationString(partner.nace)}">
                    </span>
                </td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_VAT_IDENTIFIER">
                <th th:text="#{export.partner.detail.vat}">Vat number</th>
                <td th:text="*{vat}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_VAT_RECOVERY">
                <th th:text="#{project.partner.recoverVat.intro.text}">Vat
                    recovery
                </th>
                <td th:text="*{vatRecovery}"></td>
            </tr>
            <th:block clf:ifAnyFieldIsVisible="PARTNER_OTHER_IDENTIFIER_NUMBER_AND_DESCRIPTION">
                <tr>
                    <th th:text="#{project.partner.other.identifier.number}">Other
                        identifier number
                    </th>
                    <td th:text="*{otherIdentifierNumber}"></td>
                </tr>
                <tr>
                    <th th:text="#{project.partner.other.identifier.description}">
                        Other
                        identifier description
                    </th>
                    <td clf:textTranslationByDataLanguage="*{otherIdentifierDescription}"></td>
                </tr>
            </th:block>
            <tr clf:ifAnyFieldIsVisible="PARTNER_PIC">
                <th th:text="#{project.partner.pic}">PIC</th>
                <td th:text="*{pic}"></td>
            </tr>
            </tbody>
        </table>
        <table class="default-vertical-table"
               clf:ifAnyFieldIsVisible="PARTNER_LEGAL_REPRESENTATIVE_TITLE,PARTNER_LEGAL_REPRESENTATIVE_FIRST_NAME,PARTNER_LEGAL_REPRESENTATIVE_LAST_NAME,PARTNER_CONTACT_PERSON_TITLE,PARTNER_CONTACT_PERSON_FIRST_NAME,PARTNER_CONTACT_PERSON_LAST_NAME,PARTNER_CONTACT_PERSON_EMAIL,PARTNER_CONTACT_PERSON_TELEPHONE">
            <thead class="table-header">
            <tr class="sub-heading-1">
                <td colspan="2"
                    th:text="#{partner.tab.contact}">
                    Contact
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <th:block th:with="legalRepresentative=${clfUtils.getLegalRepresentative(partner.contacts)}">
                <tr clf:ifAnyFieldIsVisible="PARTNER_LEGAL_REPRESENTATIVE_TITLE,PARTNER_LEGAL_REPRESENTATIVE_FIRST_NAME,PARTNER_LEGAL_REPRESENTATIVE_LAST_NAME">
                    <th th:text="#{project.partner.representative.header.detail}">Legal
                        representative
                    </th>
                    <td>
                        <span clf:ifAnyFieldIsVisible="PARTNER_LEGAL_REPRESENTATIVE_TITLE"
                              th:unless="${legalRepresentative?.title == null}"
                              th:text="${legalRepresentative?.title} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_LEGAL_REPRESENTATIVE_FIRST_NAME"
                              th:text="${legalRepresentative?.firstName} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_LEGAL_REPRESENTATIVE_LAST_NAME"
                              th:text="${legalRepresentative?.lastName}"></span>
                    </td>
                </tr>
            </th:block>
            <th:block th:with="contactPerson=${clfUtils.getContactPerson(partner.contacts)}">
                <tr clf:ifAnyFieldIsVisible="PARTNER_CONTACT_PERSON_TITLE,PARTNER_CONTACT_PERSON_FIRST_NAME,PARTNER_CONTACT_PERSON_LAST_NAME">
                    <th th:text="#{project.partner.contact.header.detail}">Contact person
                    </th>
                    <td>
                        <span clf:ifAnyFieldIsVisible="PARTNER_CONTACT_PERSON_TITLE"
                              th:unless="${contactPerson?.title == null}"
                              th:text="${contactPerson?.title} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_CONTACT_PERSON_FIRST_NAME"
                              th:text="${contactPerson?.firstName} "></span>
                        <span clf:ifAnyFieldIsVisible="PARTNER_CONTACT_PERSON_LAST_NAME"
                              th:text="${contactPerson?.lastName}"></span>
                    </td>
                </tr>
                <tr clf:ifAnyFieldIsVisible="PARTNER_CONTACT_PERSON_EMAIL">
                    <th th:text="#{authentication.email.label}">Email</th>
                    <td th:text="${contactPerson?.email}"></td>
                </tr>
                <tr clf:ifAnyFieldIsVisible="PARTNER_CONTACT_PERSON_TELEPHONE">
                    <th th:text="#{project.partner.contact.telephone}">Phone</th>
                    <td th:text="${contactPerson?.telephone}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <table class="default-vertical-table long-text"
               clf:ifAnyFieldIsVisible="PARTNER_MOTIVATION_COMPETENCES,PARTNER_MOTIVATION_ROLE,PARTNER_ROLE_EXPERIENCE">
            <thead>
                <tr>
                    <td class="sub-heading-1" th:text="#{partner.tab.motivation}">
                        Motivation
                    </td>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr clf:ifAnyFieldIsVisible="PARTNER_MOTIVATION_COMPETENCES">
                    <th th:text="#{project.partner.motivation.organization.relevance}">
                        Which of the organization's thematic competences and experiences are relevant for the project?
                    </th>
                </tr>
                <tr>
                    <td class="multiline" clf:textTranslationByDataLanguage="*{motivation?.organizationRelevance}"></td>
                </tr>

                <tr clf:ifAnyFieldIsVisible="PARTNER_MOTIVATION_ROLE">
                    <th th:text="#{project.partner.motivation.organization.role}">Organization
                        role
                    </th>
                </tr>
                <tr>
                    <td class="multiline" th:type="text" clf:textTranslationByDataLanguage="*{motivation?.organizationRole}"></td>
                </tr>

                <tr clf:ifAnyFieldIsVisible="PARTNER_ROLE_EXPERIENCE">
                    <th clf:textBasedOnCallType="project.partner.motivation.organization.experience">
                        Organization experience
                    </th>
                </tr>
                <tr>
                    <td class="multiline" clf:textTranslationByDataLanguage="*{motivation?.organizationExperience}"></td>
                </tr>
            </tbody>
        </table>
        <div th:insert="~{application-form/section-b/partner-co-financing-table.html :: partnerCoFinancingTable(${partner?.budget})}"></div>
        <div th:insert="~{application-form/section-b/partner-state-aid-table.html :: partnerStateAidTable(${partner?.stateAid})}"></div>
        <div th:if="${rowStat.last == false }" class="page-break-after"></div>
    </th:block>
</th:block>
</body>
</html>
