<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionB" type="io.cloudflight.jems.plugin.contract.models.project.sectionB.ProjectDataSectionB"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
    <th:block th:fragment="projectWorkPlan(projectDataSectionC, projectDataSectionB)">
        <th:block th:each="workPackage, rowStat: ${projectDataSectionC.projectWorkPackages}"
                  th:object="${workPackage}">
            <table class="default-vertical-table" clf:ifAnyFieldIsVisible="PROJECT_SPECIFIC_OBJECTIVE,PROJECT_COMMUNICATION_OBJECTIVES_AND_TARGET_AUDIENCE,PROJECT_ACTIVITIES_TITLE,PROJECT_ACTIVITIES_START_PERIOD,PROJECT_ACTIVITIES_END_PERIOD,PROJECT_ACTIVITIES_DESCRIPTION,PROJECT_ACTIVITIES_STATE_AID_PARTNERS_INVOLVED">
                <thead class="table-header grey-background">
                    <tr class="sub-heading-2">
                        <th th:text="#{project.application.form.workpackage.form.header} + ' ' + ${workPackage.workPackageNumber}">
                            Work package
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body colored-table-body">
                    <tr clf:ifAnyFieldIsVisible="PROJECT_SPECIFIC_OBJECTIVE">
                        <td >
                            <p th:text="#{project.application.form.workpackage.form.objectives}">Objectvives</p>
                            <p th:text="#{project.application.form.workpackage.form.objectives.intro.line.three}">Objectvives</p>
                            <ul>
                                <li th:text="#{project.application.form.workpackage.form.objectives.intro.line.four}">a</li>
                                <li th:text="#{project.application.form.workpackage.form.objectives.intro.line.five}">b</li>
                                <li th:text="#{project.application.form.workpackage.form.objectives.intro.line.six}">c</li>
                            </ul>

                            <p th:text="#{project.application.form.workpackage.form.objectives.intro.line.one}">Define one project</p>

                        </td>
                    </tr>
                    <tr clf:ifAnyFieldIsVisible="PROJECT_SPECIFIC_OBJECTIVE">
                        <td clf:textTranslationByDataLanguage="${workPackage.specificObjective}"></td>
                    </tr>

                    <tr clf:ifAnyFieldIsVisible="PROJECT_COMMUNICATION_OBJECTIVES_AND_TARGET_AUDIENCE">
                        <td th:text="#{project.application.form.workpackage.form.objectives.intro.line.two}"></td>
                    </tr>
                    <tr clf:ifAnyFieldIsVisible="PROJECT_COMMUNICATION_OBJECTIVES_AND_TARGET_AUDIENCE">
                        <td clf:textTranslationByDataLanguage="${workPackage.objectiveAndAudience}"></td>
                    </tr>

                    <th:block th:each="activity, rowStat: ${workPackage.activities}"
                          th:object="${activity}">
                        <table class="default-vertical-table" clf:ifAnyFieldIsVisible="PROJECT_ACTIVITIES_TITLE,PROJECT_ACTIVITIES_START_PERIOD,PROJECT_ACTIVITIES_END_PERIOD,PROJECT_ACTIVITIES_DESCRIPTION,PROJECT_ACTIVITIES_STATE_AID_PARTNERS_INVOLVED">
                            <thead>
                                <th class="grey-background sub-heading-1" colspan="2"
                                    th:text="#{jems.standard.application.form.export.section.c.activity} + ${workPackage.workPackageNumber} + '.' + ${activity.activityNumber}">Activity
                                </th>
                            </thead>

                            <tbody class="colored-table-body">
                                <tr clf:ifAnyFieldIsVisible="PROJECT_ACTIVITIES_TITLE">
                                    <td th:text="#{jems.standard.application.form.export.common.label.title}"></td>
                                    <td clf:textTranslationByDataLanguage="${activity.title}"></td>
                                </tr>

                                <tr clf:ifAnyFieldIsVisible="PROJECT_ACTIVITIES_START_PERIOD">
                                    <td th:text="#{jems.standard.application.form.export.common.label.start.period}"></td>
                                    <td th:text="${activity.startPeriod}"></td>
                                </tr>

                                <tr clf:ifAnyFieldIsVisible="PROJECT_ACTIVITIES_END_PERIOD">
                                    <td th:text="#{jems.standard.application.form.export.common.label.end.period}"></td>
                                    <td th:text="${activity.endPeriod}"></td>
                                </tr>

                                <tr clf:ifAnyFieldIsVisible="PROJECT_ACTIVITIES_DESCRIPTION">
                                    <td th:text="#{jems.standard.application.form.export.common.label.description}"></td>
                                    <td clf:textTranslationByDataLanguage="${activity.description}"></td>
                                </tr>

                                <tr clf:ifAnyFieldIsVisible="PROJECT_ACTIVITIES_STATE_AID_PARTNERS_INVOLVED">
                                    <td th:text="#{jems.standard.application.form.export.section.c.involved.partners}"></td>
                                    <td>
                                        <th:block th:each="partner, rowStat : ${projectDataSectionB.partners}" th:object="${partner}">
                                            <span  th:text="${partner.abbreviation} + (!${rowStat.last} ? ', ' : '') "></span>
                                        </th:block>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                        <table class="default-vertical-table" clf:ifAnyFieldIsVisible="PROJECT_ACTIVITIES_DELIVERABLES">
                            <thead>
                            <tr>
                                <th class="grey-background sub-heading-1" colspan="4"
                                    th:text="#{jems.standard.application.form.export.section.c.deliverables.for.activity} + ${workPackage.workPackageNumber} + '.' + ${activity.activityNumber}">Activity
                                </th>
                            </tr>
                            <tr>
                                <th th:text="#{jems.standard.application.form.export.section.c.deliverables.number}">Deliverable number</th>
                                <th th:text="#{jems.standard.application.form.export.section.c.deliverables.title}">Deliverable title</th>
                                <th th:text="#{jems.standard.application.form.export.section.c.deliverables.description}">Description</th>
                                <th th:text="#{jems.standard.application.form.export.section.c.deliverables.period}">Delivery period</th>
                            </tr>
                            </thead>

                            <tbody class="colored-table-body">
                            <tr th:each="deliverable, rowStat: ${activity.deliverables}"
                                th:object="${deliverable}">
                                <td th:text="'D.' +  ${workPackage.workPackageNumber} + '.' + ${activity.activityNumber} + '.' + ${deliverable.deliverableNumber}"></td>
                                <td clf:textTranslationByDataLanguage="${deliverable.title}"></td>
                                <td clf:textTranslationByDataLanguage="${deliverable.description}"></td>
                                <td th:text="${deliverable.period}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </th:block>
                </tbody>
            </table>

            <div th:insert="~{application-form/section-c/project-output.html :: projectOutput(${workPackage})}"></div>
            <div class="page-break-after"></div>
            <div th:insert="~{application-form/section-c/project-investment.html :: projectInvestment(${workPackage})}"></div>
        </th:block>
    </th:block>
</body>
</html>
