<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionC" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.ProjectDataSectionC"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="projectObjective(projectDataSectionC, specificObjective)">
    <div class="keep-together">
        <div id="section-c-1" class="title"
             th:text="#{project.application.form.section.part.c.subsection.one}">
        </div>

        <div th:text="#{project.application.form.overall.objective.field.row.one}">
            Programme priority specific objective your project will contribute to (chosen in section A.1.)
        </div>

        <div class="input-data" th:if="${specificObjective?.programmeObjectivePolicy != null}"
             th:text="${#messages.msg('programme.policy.' + specificObjective?.programmeObjectivePolicy)}">
            Specific objective
        </div>
    </div>

    <div clf:ifAnyFieldIsVisible="PROJECT_OVERALL_OBJECTIVE" class="keep-together">
        <div class="sub-heading-2" th:text="#{application.config.project.overall.objective}">overall objective</div>
        <div th:text="#{project.application.form.overall.objective.field.row.two}">two</div>
        <div th:text="#{project.application.form.overall.objective.field.row.three}">Abbreviation</div>
        <ul>
            <li th:text="#{project.application.form.overall.objective.field.row.four}">four</li>
            <li th:text="#{project.application.form.overall.objective.field.row.five}">five</li>
            <li th:text="#{project.application.form.overall.objective.field.row.six}">six</li>
        </ul>
        <div class="input-data"
             clf:textTranslationByDataLanguage="${projectDataSectionC.projectOverallObjective.overallObjective}"></div>
    </div>
</th:block>
</body>
</html>
