<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionC" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.ProjectDataSectionC"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"
          th:href="@{styles/common.css}"/>
</head>
<body>
<th:block th:fragment="projectRelevanceAndContext(projectDataSectionC)">
    <div id="section-c-2" class="title"
         clf:textApplicationFormTranslation="project.application.form.section.part.c.subsection.two">
    </div>
    <!-- C 2.1 -->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_TERRITORIAL_CHALLENGES">
        <div class="sub-heading-1" clf:textApplicationFormTranslation="project.application.form.relevance.field.1"></div>
        <div clf:textApplicationFormTranslation="project.application.form.relevance.field.1.intro"></div>
        <div class="input-data multiline"
             clf:textTranslationByDataLanguage="${projectDataSectionC?.projectRelevance?.territorialChallenge}"></div>
    </div>

    <!-- C 2.2 -->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_HOW_ARE_CHALLENGES_AND_OPPORTUNITIES_TACKLED">
        <div class="sub-heading-1" clf:textApplicationFormTranslation="project.application.form.relevance.field.2"></div>
        <div clf:textApplicationFormTranslation="project.application.form.relevance.field.2.intro"></div>
        <div class="input-data multiline"
             clf:textTranslationByDataLanguage="${projectDataSectionC?.projectRelevance?.commonChallenge}"></div>
    </div>

    <!-- C 2.3 -->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_WHY_IS_COOPERATION_NEEDED">
        <div class="sub-heading-1" clf:textBasedOnCallType="project.application.form.relevance.field.3"></div>
        <div clf:textBasedOnCallType="project.application.form.relevance.field.3.intro"></div>
        <div class="input-data multiline"
             clf:textTranslationByDataLanguage="${projectDataSectionC?.projectRelevance?.transnationalCooperation}"></div>
    </div>

    <!-- C 2.4 -->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_TARGET_GROUP">
        <div class="sub-heading-1" clf:textApplicationFormTranslation="project.application.form.relevance.field.4"></div>
        <div clf:textApplicationFormTranslation="project.application.form.relevance.field.4.intro"></div>
        <table class="default-table mt-1">
            <thead class="table-header">
            <tr>
                <th clf:textApplicationFormTranslation="project.application.form.relevance.target.group">
                    Group
                </th>
                <th clf:textApplicationFormTranslation="project.application.form.relevance.specification">
                    Specifications
                </th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr th:each="benefitData : ${projectDataSectionC.projectRelevance?.projectBenefits}">
                <td class="m-column"
                    th:text="${#messages.msg('project.application.form.relevance.target.group.' + benefitData.group)}">
                    Group
                </td>
                <td class="multiline" clf:textTranslationByDataLanguage="${benefitData.specification}">
                    Specification
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- C 2.4a -->
    <th:block th:if="${isSPFCall == true}">
        <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_RECIPIENT_GROUP">
            <div class="sub-heading-1" clf:textApplicationFormTranslation="spf.project.application.form.relevance.field.4a"></div>
            <div clf:textApplicationFormTranslation="spf.project.application.form.relevance.field.4a.intro"></div>
            <table class="default-table mt-1">
                <thead class="table-header">
                <tr>
                    <th clf:textApplicationFormTranslation="spf.project.application.form.relevance.recipient.group">
                        Recipient group
                    </th>
                    <th clf:textApplicationFormTranslation="project.application.form.relevance.specification">
                        Specifications
                    </th>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr th:each="recipient : ${projectDataSectionC.projectRelevance?.projectSpfRecipients}">
                    <td class="m-column"
                        th:text="${#messages.msg('project.application.form.relevance.target.group.' + recipient.recipientGroup)}">
                        Recipient Group
                    </td>
                    <td class="multiline" clf:textTranslationByDataLanguage="${recipient.specification}">
                        Specification
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <!-- C 2.5 -->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_STRATEGY_CONTRIBUTION">
        <div class="sub-heading-1" clf:textApplicationFormTranslation="project.application.form.relevance.field.5"></div>
        <div clf:textApplicationFormTranslation="project.application.form.relevance.field.5.intro"></div>
        <table class="default-table mt-1">
            <thead class="table-header">
            <tr>
                <th clf:textApplicationFormTranslation="project.application.form.relevance.strategy">
                    Strategy
                </th>
                <th clf:textApplicationFormTranslation="project.application.form.relevance.contribution">
                    Contribution
                </th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr th:each="strategyData : ${projectDataSectionC.projectRelevance?.projectStrategies}">
                <td class="m-column">
                <span th:if="${strategyData.strategy != null}"
                      th:text="${#messages.msg('programme.strategy.' + strategyData.strategy)}">Strategy</span>
                </td>
                <td class="multiline" clf:textTranslationByDataLanguage="${strategyData.specification}">
                    Contribution
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- C 2.6 -->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_SYNERGIES">
        <div class="sub-heading-1" clf:textApplicationFormTranslation="project.application.form.relevance.field.6">
            C.2.6 Which synergies with past or current EU and other projects or initiatives will the project
            make use of?
        </div>

        <table class="default-table mt-1">
            <thead class="table-header">
            <tr>
                <th clf:textApplicationFormTranslation="project.application.form.relevance.project.or.initiative">
                    Project initiative
                </th>
                <th clf:textApplicationFormTranslation="project.application.form.relevance.synergy">
                    Synergy
                </th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr th:each="synergyData : ${projectDataSectionC.projectRelevance?.projectSynergies}">
                <td class="multiline" clf:textTranslationByDataLanguage="${synergyData.specification}">
                    Specification
                </td>
                <td class="multiline" clf:textTranslationByDataLanguage="${synergyData.synergy}">Synergy</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- C 2.7 -->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_HOW_BUILDS_PROJECT_ON_AVAILABLE_KNOWLEDGE">
        <div class="sub-heading-1" clf:textApplicationFormTranslation="project.application.form.relevance.field.7"></div>
        <div clf:textApplicationFormTranslation="project.application.form.relevance.field.7.intro"></div>
        <div class="input-data multiline"
             clf:textTranslationByDataLanguage="${projectDataSectionC?.projectRelevance?.availableKnowledge}"></div>
    </div>
</th:block>
</body>
</html>
