<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionB" type="io.cloudflight.jems.plugin.contract.models.project.sectionB.ProjectDataSectionB"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"
          th:href="@{styles/common.css}"/>
</head>
<body>
<th:block th:fragment="projectWorkPackagesOverview(projectDataSectionC)">
    <span th:if="${projectDataSectionC.projectWorkPackages?.size() == 0}"
          clf:textApplicationFormTranslation="project.application.form.workpackage.list.empty">No
        work packages
    </span>
    <th:block th:if="${projectDataSectionC.projectWorkPackages?.size() > 0}">
        <table class="default-table">
            <thead class="table-header">
            <tr>
                <th clf:textApplicationFormTranslation="project.application.form.workpackage.number">
                    Number
                </th>

                <th clf:ifAnyFieldIsVisible="PROJECT_WORK_PACKAGE_TITLE" clf:textApplicationFormTranslation="project.application.form.workpackage.name">
                    Work package name
                </th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr th:each="workPackage, rowStat: ${projectDataSectionC.projectWorkPackages}"
                th:object="${workPackage}">
                <td>
                    <span th:if="${workPackage.deactivated == true}" th:text="${workPackage.workPackageNumber} + ' ' + #{export.work.plan.deactivated}">Number (Deactivated)</span>
                    <span th:if="${workPackage.deactivated == null or workPackage.deactivated == false}" th:text="${workPackage.workPackageNumber}">Number</span>
                </td>
                <td clf:ifAnyFieldIsVisible="PROJECT_WORK_PACKAGE_TITLE" clf:textTranslationByDataLanguage="*{name}">Name</td>
            </tr>
            </tbody>
        </table>
    </th:block>
</th:block>
</body>
</html>
