<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionC" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.ProjectDataSectionC"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"
          th:href="@{styles/common.css}"/>
</head>
<body>
<div class="keep-together" th:fragment="projectPartnership(projectDataSectionC)">
    <div id="section-c-3" class="title"
         th:text="#{project.application.form.section.part.c.subsection.three}">
    </div>

    <div th:text="#{project.application.form.project.partnership.field.row}">
        Describe the structure of your partnership and explain why these partners are needed to implement the project
        and to achieve project objectives.
        What is the contribution of each partner to the project?
    </div>
    <div class="input-data multiline" clf:textTranslationByDataLanguage="${projectDataSectionC.projectPartnership?.partnership}">
        Project partnership description
    </div>

</div>
</body>
</html>
