<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionC" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.ProjectDataSectionC"*/-->
<!--/*@thymesVar id="projectDataSectionB" type="io.cloudflight.jems.plugin.contract.models.project.sectionB.ProjectDataSectionB"*/-->
<!--/*@thymesVar id="projectDataSectionA" type="io.cloudflight.jems.plugin.contract.models.project.sectionA.ProjectDataSectionA"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->
<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="sectionC(projectDataSectionC, projectDataSectionB, projectDataSectionA, specificObjective, timeplanData)">
    <div id="section-c" class="headline" th:text="#{project.application.form.section.part.c}">
        SECTION C - Project description
    </div>
    <!-- C1 -->
    <th:block th:if="${clfUtils.isSectionC1Available(#vars.projectData.lifecycleData, #vars.callData)}">
        <div th:insert="~{application-form/section-c/section-c-1.html :: projectObjective(${projectDataSectionC}, ${specificObjective})}"></div>
        <div class="page-break-after"></div>
    </th:block>

    <!-- C2 -->
    <th:block th:if="${clfUtils.isSectionC2Available(#vars.projectData.lifecycleData, #vars.callData)}">
        <div th:insert="~{application-form/section-c/project-relevance-and-context.html :: projectRelevanceAndContext(${projectDataSectionC})}"></div>
    </th:block>

    <!-- C3 -->
    <th:block clf:ifAnyFieldIsVisible="PROJECT_PARTNERSHIP">
        <div class="page-break-before"></div>
        <div th:insert="~{application-form/section-c/section-c-3.html :: projectPartnership(${projectDataSectionC})}"></div>
    </th:block>

    <!-- C4 -->
    <th:block th:if="${clfUtils.isSectionC4Available(#vars.projectData.lifecycleData, #vars.callData)}">
        <div class="page-break-before"></div>
        <div th:insert="~{application-form/section-c/section-c-4.html :: sectionC4(${projectDataSectionC}, ${projectDataSectionB}, ${projectDataSectionA.periods})}"></div>
    </th:block>

    <!-- C5 -->
    <th:block th:if="${clfUtils.isProjectResultsSectionAvailable(#vars.projectData.lifecycleData, #vars.callData)}">
        <div class="page-break-before"></div>
        <div th:insert="~{application-form/section-c/section-c-5.html :: sectionC5(${projectDataSectionC})}"></div>
    </th:block>

    <!-- C6 -->
    <th:block th:if="${timeplanData != null}">
        <div class="page-break-before"></div>
        <div th:insert="~{application-form/section-c/section-c-6.html :: sectionC6(${timeplanData})}"></div>
    </th:block>

    <!-- C7 -->
    <th:block th:if="${clfUtils.isSectionC7Available(#vars.projectData.lifecycleData, #vars.callData)}">
        <div class="page-break-before"></div>
        <div th:insert="~{application-form/section-c/section-c-7.html :: projectManagement(${projectDataSectionC})}"></div>
    </th:block>

    <!-- C8 -->
    <th:block th:if="${clfUtils.isLongTermPlansSectionAvailable(#vars.projectData.lifecycleData, #vars.callData)}">
        <div class="page-break-before"></div>
        <div th:insert="~{application-form/section-c/section-c-8.html :: sectionC8(${projectDataSectionC})}"></div>
    </th:block>

</th:block>
</body>
</html>
