<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionC" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.ProjectDataSectionC"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="sectionC8(projectDataSectionC)">
    <th:block clf:ifAnyFieldIsVisible="PROJECT_OWNERSHIP,PROJECT_DURABILITY,PROJECT_TRANSFERABILITY">
        <div class="title" id="section-c-8" th:text="#{application.config.project.section.c.8}">
            long-term plans
        </div>
        <span th:text="#{project.application.form.future.plans.intro}">intro text</span>
        <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_OWNERSHIP">
            <div class="sub-heading-1" th:text="#{project.application.form.future.plans.field.1}">C.8.1 ownr</div>
            <div th:text="#{project.application.form.future.plans.field.1.intro}">pls dscr who will ensure the financial and institutional support</div>
            <div class="input-data" clf:textTranslationByDataLanguage="${projectDataSectionC?.projectLongTermPlans?.projectOwnership}">Lorem ipsum</div>
        </div>

        <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_DURABILITY">
            <div class="sub-heading-1" th:text="#{project.application.form.future.plans.field.2}">C.8.2 duration</div>
            <div th:text="#{project.application.form.future.plans.field.2.intro}">some outputs/deliverables should be used</div>
            <div class="input-data" clf:textTranslationByDataLanguage="${projectDataSectionC?.projectLongTermPlans?.projectDurability}">Lorem ipsum</div>
        </div>

        <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_TRANSFERABILITY">
            <div class="sub-heading-1" th:text="#{project.application.form.future.plans.field.3}">C.8.3 transfer</div>
            <div th:text="#{project.application.form.future.plans.field.3.intro}">that you will deliver could be</div>
            <div class="input-data" clf:textTranslationByDataLanguage="${projectDataSectionC?.projectLongTermPlans?.projectTransferability}">
                Lorem ipsum
            </div>
        </div>
    </th:block>
</th:block>
</body>
</html>
