<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="projectDataSectionC" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.ProjectDataSectionC"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="sectionC(projectDataSectionC)">
    <div class="headline" id="section-c" th:text="#{jems.standard.application.form.export.section.c.project.description}">
        Section C - Project description
    </div>

    <div th:insert="~{application-form/section-c/section-c-5.html :: sectionC5(${projectDataSectionC})}"></div>

    <div class="page-break-after"></div>

    <div th:insert="~{application-form/section-c/section-c-8.html :: sectionC8(${projectDataSectionC})}"></div>

    <div class="page-break-after"></div>

</th:block>
</body>
</html>
