<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionC" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.ProjectDataSectionC"*/-->
<!--/*@thymesVar id="projectDataSectionB" type="io.cloudflight.jems.plugin.contract.models.project.sectionB.ProjectDataSectionB"*/-->
<!--/*@thymesVar id="workPackage" type="io.cloudflight.jems.plugin.contract.models.project.sectionC.workpackage.ProjectWorkPackageData"*/-->
<!--/*@thymesVar id="periods" type="kotlin.collections.List<io.cloudflight.jems.plugin.contract.models.project.sectionA.ProjectPeriodData>"*/-->

<head>
    <link rel="stylesheet" type="text/css" media="all" href="../styles/common.css"
          th:href="@{../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="sectionC4(projectDataSectionC, projectDataSectionB, periods)">

    <div class="title" id="section-c-4" th:text="#{project.application.form.section.part.c.subsection.four}">
        work plan
    </div>

    <div th:insert="~{application-form/section-c/project-work-packages-overview.html :: projectWorkPackagesOverview(${projectDataSectionC})}"></div>
    <div class="page-break-after"></div>

    <th:block th:each="workPackage, rowStat: ${projectDataSectionC.projectWorkPackages}"
              th:object="${workPackage}">

        <div class="sub-heading-2"
             th:text="#{project.application.form.workpackage.form.header} + ' ' + ${workPackage.workPackageNumber}"
             th:id="'wp-'+*{workPackageNumber}">
            wrk pckg x
        </div>

        <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_COMMUNICATION_OBJECTIVES_AND_TARGET_AUDIENCE">
            <div class="sub-heading-1" th:text="#{project.application.form.workpackage.field.title}">title</div>
            <div class="input-data" clf:textTranslationByDataLanguage="*{name}">name value</div>
        </div>

        <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_SPECIFIC_OBJECTIVE">
            <div class="sub-heading-1" th:text="#{project.application.form.workpackage.form.objectives}">Objectives</div>
            <div th:text="#{project.application.form.workpackage.form.objectives.intro.line.three}">objs should be</div>
            <ul>
                <li th:text="#{project.application.form.workpackage.form.objectives.intro.line.four}">a</li>
                <li th:text="#{project.application.form.workpackage.form.objectives.intro.line.five}">b</li>
                <li th:text="#{project.application.form.workpackage.form.objectives.intro.line.six}">c</li>
            </ul>
            <div th:text="#{project.application.form.workpackage.form.objectives.intro.line.one}">Define one project</div>
            <div class="input-data" clf:textTranslationByDataLanguage="*{specificObjective}">value</div>
        </div>

        <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_COMMUNICATION_OBJECTIVES_AND_TARGET_AUDIENCE">
            <div th:text="#{project.application.form.workpackage.form.objectives.intro.line.two}">question 2</div>
            <div class="input-data" clf:textTranslationByDataLanguage="*{objectiveAndAudience}">answer 2</div>
        </div>

        <div th:insert="~{application-form/section-c/project-wp-activities.html :: sectionC4Activities(${workPackage}, ${periods}, ${projectDataSectionB})}"></div>
        <div th:insert="~{application-form/section-c/project-wp-output.html :: sectionC4Output(${workPackage})}"></div>
        <div th:insert="~{application-form/section-c/project-wp-investment.html :: sectionC4Investment(${workPackage}, ${periods})}"></div>

        <div class="page-break-after"></div>
    </th:block>
</th:block>
</body>
</html>
