<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionA" type="io.cloudflight.jems.plugin.contract.models.project.sectionA.ProjectDataSectionA"*/-->
<!--/*@thymesVar id="projectPartners" type="java.util.Set<io.cloudflight.jems.plugin.contract.models.project.sectionB.partners.ProjectPartnerData>"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->
<!--/*@thymesVar id="clfPartnerUtils" type="io.cloudflight.jems.plugin.standard.common.PartnerUtils"*/-->
<head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css"
          th:href="@{styles/common.css}"/>
</head>
<body>
<th:block th:fragment="projectOverview(projectDataSectionA, projectPartners)">
    <!--A.1 Project identification-->
    <div id="section-a-1" class="title"
         th:text="#{project.application.form.section.part.a.subsection.one}">
        A.1 Project identification
    </div>
    <table class="default-vertical-table">
        <tbody class="table-body">
        <tr>
            <th th:text="#{project.application.form.field.project.id}">ID (automatically created)</th>
            <td th:text="${projectDataSectionA.customIdentifier}"></td>
        </tr>
        <th:block th:with="leadPartner=${clfPartnerUtils.getLeadPartner(projectPartners)}">
            <tr clf:ifAnyFieldIsVisible="PARTNER_ORIGINAL_NAME_OF_ORGANISATION">
                <th clf:textBasedOnCallType="project.application.form.field.project.nameOfTheLeadPartner">
                    Name of the lead partner organisation /original language
                </th>
                <td th:text="${leadPartner?.nameInOriginalLanguage}"></td>
            </tr>
            <tr clf:ifAnyFieldIsVisible="PARTNER_ENGLISH_NAME_OF_ORGANISATION">
                <th clf:textBasedOnCallType="project.application.form.field.project.nameOfTheLeadPartnerInEnglish">
                    Name of the lead partner organisation/English
                </th>
                <td th:text="${leadPartner?.nameInEnglish}"></td>
            </tr>
        </th:block>
        <tr clf:ifAnyFieldIsVisible="PROJECT_TITLE">
            <th th:text="#{project.application.form.field.project.title}">Project title</th>
            <td class="multiline" clf:textTranslationByDataLanguage="${projectDataSectionA.title}"></td>
        </tr>
        <tr>
            <th th:text="#{project.application.form.field.project.acronym}">Project acronym</th>
            <td th:text="${projectDataSectionA?.acronym}"></td>
        </tr>
        <tr>
            <th th:text="#{project.application.form.field.project.priority}">Programme priority</th>
            <td clf:textTranslationByExportLanguage="${projectDataSectionA.programmePriority?.title}"></td>
        </tr>
        <tr>
            <th th:text="#{project.application.form.field.project.objective}">
                Specific objective
            </th>
            <td>
                <span th:if="${projectDataSectionA.specificObjective?.programmeObjectivePolicy != null}"
                      th:text="${projectDataSectionA.specificObjective?.code + ': ' + #messages.msg('programme.policy.' + projectDataSectionA.specificObjective?.programmeObjectivePolicy)}">
                </span>
            </td>
        </tr>
        <tr>
            <th th:text="#{project.application.form.field.project.duration}">Project duration (nr. of months)
            </th>
            <td th:text="${projectDataSectionA?.duration}"></td>
        </tr>
        </tbody>
    </table>

    <!--A.2 Project summary-->
    <div class="keep-together" clf:ifAnyFieldIsVisible="PROJECT_SUMMARY">
        <div id="section-a-2" class="title"
             th:text="#{project.application.form.section.part.a.subsection.two}">
            A.2 Project summary
        </div>
        <div>
            <div th:text="#{project.application.form.summary.intro.row.one}"></div>
            <ul>
                <li th:text="#{project.application.form.summary.intro.row.two}"></li>
                <li th:text="#{project.application.form.summary.intro.row.three}"></li>
                <li th:text="#{project.application.form.summary.intro.row.four}"></li>
                <li th:text="#{project.application.form.summary.intro.row.five}"></li>
                <li th:text="#{project.application.form.summary.intro.row.six}"></li>
            </ul>
        </div>
        <div class="input-data multiline" clf:textTranslationByDataLanguage="${projectDataSectionA.intro}"></div>
        <div class="input-data multiline" th:if="${dataLanguage.name != 'EN'}"
             th:text="${clfUtils.getEnglishTranslation(projectDataSectionA.intro)}"></div>
    </div>
</th:block>
</body>
</html>
