<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="projectData" type="io.cloudflight.jems.plugin.contract.models.project.ProjectData"*/-->
<!--/*@thymesVar id="callData" type="io.cloudflight.jems.plugin.contract.models.call.CallDetailData"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->
<body>
<th:block th:fragment="applicationFormIndex(projectData, callData)">
    <bookmarks>
        <bookmark
                th:name="#{jems.standard.application.form.export.application.form.title(${projectData.sectionA?.customIdentifier},${projectData.sectionA?.acronym})}"
                href="#first-page"
        >
        <bookmark th:name="#{project.application.form.section.part.a}" href="#section-a">
            <bookmark th:name="#{project.application.form.section.part.a.subsection.one}" href="#section-a-1"></bookmark>
            <bookmark
                    clf:ifAnyFieldIsVisible="PROJECT_SUMMARY"
                    th:name="#{project.application.form.section.part.a.subsection.two}" href="#section-a-2"></bookmark>
            <bookmark
                    clf:ifAnyFieldIsVisible="PROJECT_A3"
                    th:if="${callData.isAdditionalFundAllowed == false}"
                    th:name="#{project.application.form.section.part.a.subsection.three}" href="#section-a-3"></bookmark>
            <bookmark clf:ifAnyFieldIsVisible="PROJECT_A4"
                      th:name="#{project.application.form.section.part.a.subsection.four}" href="#section-a-4"></bookmark>
        </bookmark>

        <th:block th:object="${projectData}">
            <bookmark th:name="#{project.application.form.section.part.b}" href="#section-b">
                <bookmark th:name="#{jems.standard.application.form.export.partner.overview}"
                          href="#partners-overview">
                    <bookmark
                            th:each="partner, rowStat: ${clfUtils.sortPartnersBySortNumber(projectData.sectionB.partners)}"
                            th:object="${partner}"
                            th:with="partnerTitle = *{role?.isLead()} ? #{jems.standard.application.form.export.partner.detail.lead.partner.title}: #{jems.standard.application.form.export.partner.detail.project.partner.title(*{sortNumber})}"
                            th:name="${partner.role?.isLead() ? 'LP' : 'PP'} + *{sortNumber} + ' ' + ${partner.abbreviation}"
                            th:href="'#'+${partnerTitle}">
                    </bookmark>
                </bookmark>
                <bookmark clf:ifAnyFieldIsVisible="PARTNER_ASSOCIATED_ORGANIZATIONS"
                          href="#associated-organizations"
                          th:name="#{project.application.form.section.part.b.associatedOrganizations}">
                    <bookmark
                            th:each="associatedOrganization, rowStat: ${clfUtils.sortAssociatedOrganizationsBySortNumber(projectData.sectionB.associatedOrganisations)}"
                            th:object="${associatedOrganization}"
                            th:with="associatedOrganizationTitle = ${associatedOrganization.nameInOriginalLanguage}"
                            th:name="${associatedOrganizationTitle}"
                            th:href="'#'+${associatedOrganizationTitle}">
                    </bookmark>
                </bookmark>
            </bookmark>
        </th:block>
            <bookmark th:if="${clfUtils.isSectionCAvailable(#vars.projectData.lifecycleData, #vars.callData)}"
                    th:name="#{project.application.form.section.part.c}" href="#section-c">
                <bookmark clf:ifAnyFieldIsVisible="PROJECT_OVERALL_OBJECTIVE"
                        th:name="#{project.application.form.section.part.c.subsection.one}" href="#section-c-1"></bookmark>
                <bookmark th:if="${clfUtils.isSectionC2Available(#vars.projectData.lifecycleData, #vars.callData)}"
                        th:name="#{project.application.form.section.part.c.subsection.two}" href="#section-c-2"></bookmark>
                <bookmark clf:ifAnyFieldIsVisible="PROJECT_PARTNERSHIP"
                        th:name="#{project.application.form.section.part.c.subsection.three}" href="#section-c-3"></bookmark>
                <bookmark th:if="${clfUtils.isSectionC4Available(#vars.projectData.lifecycleData, #vars.callData)}"
                        th:name="#{project.application.form.section.part.c.subsection.four}" href="#section-c-4">
                    <bookmark
                            th:each="wp, rowStat: ${projectData.sectionC?.projectWorkPackages}"
                            th:object="${wp}"
                            th:name="#{jems.standard.application.form.export.section.c.wp}+*{workPackageNumber}"
                            th:href="'#wp-'+*{workPackageNumber}">
                    </bookmark>
                </bookmark>
                <bookmark
                        th:if="${clfUtils.isProjectResultsSectionAvailable(#vars.projectData.lifecycleData, #vars.callData)}"
                        th:name="#{project.application.form.section.part.c.subsection.five}" href="#section-c-5"></bookmark>
                <bookmark th:name="#{project.application.form.section.part.c.subsection.seven}" href="#section-c-7"></bookmark>
                <bookmark
                        th:if="${clfUtils.isLongTermPlansSectionAvailable(#vars.projectData.lifecycleData, #vars.callData)}"
                        th:name="#{project.application.form.section.part.c.subsection.eight}" href="#section-c-8"></bookmark>
            </bookmark>
        </bookmark>
    </bookmarks>
</th:block>
</body>
</html>
