<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectData" type="io.cloudflight.jems.plugin.contract.models.project.ProjectData"*/-->
<!--/*@thymesVar id="callData" type="io.cloudflight.jems.plugin.contract.models.call.CallDetailData"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->
<head>
    <link rel="stylesheet" type="text/css" media="all" href="application-form/styles/common.css"
          th:href="@{application-form/styles/common.css}"/>
    <th:block
            th:insert="~{application-form/application-form-index.html :: applicationFormIndex(${projectData}, ${callData}, ${timeplanData})}"></th:block>
</head>

<body id="first-page"  th:with="isSPFCall=${callData.getType() == T(io.cloudflight.jems.plugin.contract.models.call.CallTypeData).SPF},
                                lifecycleData=${projectData.getLifecycleData()},
                                callData=${callData}">
    <div th:insert="~{application-form/cover-page/cover-page.html :: coverPage(${projectData.sectionA}, ${downloadedDate}, ${version}, ${dataLanguage}, ${exportLanguage}, ${logo})}"></div>
    <div class="page-break-after"></div>
    <div th:insert="~{application-form/section-a/section-a.html :: sectionA(${projectData.sectionA}, ${projectData.sectionB.partners})}"></div>
    <div class="page-break-after"></div>
    <div th:insert="~{application-form/section-b/section-b.html :: sectionB(${projectData.sectionB})}"></div>
    <div class="page-break-after"></div>
    <div th:insert="~{application-form/section-c/section-c.html :: sectionC(${projectData.sectionC}, ${projectData.sectionB}, ${projectData.sectionA}, ${projectData.sectionA.specificObjective}, ${timeplanData})}"></div>
</body>
</html>
