@page {
    size: A4 portrait;
    margin: 20mm 15mm;
    @bottom-right {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 14px;
        content: counter(page);
    }

}

@page landscape {
    margin: 20mm 15mm;
    size: A4 landscape;
}

html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.landscape {
    /*we need to set this because openPdfToHtml uses A4 width as the width of body*/
    /* this is 297mm (A4 landscape width) - 30mm(margins) - 2mm (to make borders visible)*/
    width: 265mm;
    page: landscape
}

.headline {
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0;
}

.title {
    font-size: 18px;
    margin: 8px 0;
}

.sub-heading-2 {
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal !important;
}

.sub-heading-1 {
    font-size: 16px;
}

.xs-column {
    width: 30px;
}

.m-column {
    min-width: 150px;
}

.text-center {
    text-align: center;
    vertical-align: middle !important;
}

.text-right{
    text-align: right;
}

.right-border {
    border-right: 1px solid #d2dade !important;
}

.bottom-border {
    border-bottom: 1px solid #d2dade !important;
}

.top-border {
    border-top: 1px solid #d2dade !important;
}

.mt-1 {
    margin-top: 10px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.mt-3 {
    margin-top: 30px !important;
}

.mt-5 {
    margin-top: 50px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.break-long-word {
    max-width: 800px;
    word-wrap: break-word;
}

.default-table .row-bordered td, .default-table .row-bordered th, .default-vertical-table .table-body .row-bordered td, .default-vertical-table .table-body .row-bordered th {
    border-top: 1px solid #d2dade;
    border-bottom: 1px solid #d2dade;
}

.default-table .number, .default-table .percentage, .default-vertical-table .number, .default-vertical-table .percentage{
    text-align: right;
}

.page-break-after {
    display: block;
    clear: both;
    page-break-after: always;
}

.keep-together {
    page-break-inside: avoid;
}

tr, td, th, .table-header {
    page-break-inside: avoid;
}

.default-table, .default-vertical-table {
    width: 100%;
    border: 1px solid #d2dade;
    text-align: left;
    border-collapse: collapse;
    overflow: hidden;
    -fs-table-paginate: paginate;
}

.default-table th, .default-table td, .default-vertical-table th, .default-vertical-table td {
    padding: 8px;
    border: 0;
    vertical-align: top;
    overflow: hidden;
    word-break: break-word;
}

.default-table .table-body tr:nth-child(odd), .default-vertical-table .table-body tr:nth-child(odd) {
    background-color: #f4fafe;
}

.default-table .table-header th {
    border-bottom: 1px solid #d2dade;
    border-top: 1px solid #d2dade;
    color: #8a8a8a;
}

.default-vertical-table .table-body th {
    border-right: 1px solid #d2dade;
    border-bottom: 0;
    border-top: 0;
    width: 300px;
    color: #8a8a8a;
}

.default-vertical-table .table-header td, .default-vertical-table .table-header td {
    border-bottom: 1px solid #d2dade;
    border-top: 1px solid #d2dade;
}

.text-box {
    border: 1px solid #d2dade;
    text-align: left;
}

.text-box-header {
    background-color: #f4fafe;
    color: #8a8a8a;
    font-weight: bold;
}

.text-box > * {
    padding-left: 8px;
    padding-right: 8px;
    border: 0;
}

.text-box ul {
    padding-left: 30px;
}

.remove-zebra.default-table .table-body tr:nth-child(odd), .remove-zebra.default-vertical-table .table-body tr:nth-child(odd) {
    background-color: #ffffff;
}

.default-table td[rowspan="0"], .default-vertical-table td[rowspan="0"] {
    display: none;
}

.page-break-height {
    -fs-page-break-min-height: 8cm;
}
