<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:clf="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="projectDataSectionA" type="io.cloudflight.jems.plugin.contract.models.project.sectionA.ProjectDataSectionA"*/-->
<!--/*@thymesVar id="projectPartners" type="java.util.Set<io.cloudflight.jems.plugin.contract.models.project.sectionB.partners.ProjectPartnerData>"*/-->
<!--/*@thymesVar id="clfUtils" type="io.cloudflight.jems.plugin.standard.common.template.TemplateUtils"*/-->
<head>
    <link rel="stylesheet" type="text/css" media="all" href="./../styles/common.css"
          th:href="@{./../styles/common.css}"/>
</head>
<body>
<th:block th:fragment="projectOverview(projectDataSectionA, projectPartners)">
    <!--A.1 Project identification-->
    <p class="title" th:text="#{jems.standard.application.form.export.section.a.project.identification}">A.1 Project identification</p>
    <table class="default-vertical-table">
        <tbody class="table-body">
        <tr>
            <th th:text="#{jems.standard.application.form.export.project.identification.index.number}">Project index
                number
            </th>
            <td th:text="${projectDataSectionA.customIdentifier}"></td>
        </tr>
        <th:block th:with="leadPartner=${clfUtils.getLeadPartner(projectPartners)}">
            <tr>
                <th th:text="#{jems.standard.application.form.export.partner.detail.role.lead.organization.name.original}">Name of the lead partner
                    organisation /original language
                </th>
                <td th:text="${leadPartner.nameInOriginalLanguage}"></td>
            </tr>
            <tr>
                <th th:text="#{jems.standard.application.form.export.partner.detail.role.lead.organization.name.english}">Name of the lead partner
                    organisation/English
                </th>
                <td th:text="${leadPartner.nameInEnglish}"></td>
            </tr>
        </th:block>
        <tr>
            <th th:text="#{jems.standard.application.form.export.project.title}">Project index number</th>
            <td clf:textTranslationByDataLanguage="${projectDataSectionA.title}"></td>
        </tr>
        <tr>
            <th th:text="#{jems.standard.application.form.export.project.acronym}">Project acronym</th>
            <td th:text="${projectDataSectionA.acronym}"></td>
        </tr>
        <tr>
            <th th:text="#{jems.standard.application.form.export.programme.priority}">Programme priority</th>
            <td clf:textTranslationByDataLanguage="${projectDataSectionA.programmePriority.title}"></td>
        </tr>
        <tr>
            <th th:text="#{jems.standard.application.form.export.programme.priority.objective}">Programme priority
                specific objective
            </th>
            <td th:text="${#messages.msg('programme.policy.' + projectDataSectionA.specificObjective.programmeObjectivePolicy)}"></td>
        </tr>
        <tr>
            <th th:text="#{jems.standard.application.form.export.project.duration}">Project duration (nr. of months)
            </th>
            <td th:text="${projectDataSectionA.duration}"></td>
        </tr>
        </tbody>
    </table>

    <!--A.2 Project summary-->
    <div class="mt">
        <p class="title" th:text="#{jems.standard.application.form.export.section.a.project.summary}">A.2 Project summary</p>
        <div class="text-box">
            <p th:text="#{project.application.form.summary.intro.row.one}"></p>
            <ul>
                <li><p th:text="#{project.application.form.summary.intro.row.two}"></p></li>
                <li><p th:text="#{project.application.form.summary.intro.row.three}"></p></li>
                <li><p th:text="#{project.application.form.summary.intro.row.four}"></p></li>
                <li><p th:text="#{project.application.form.summary.intro.row.five}"></p></li>
                <li><p th:text="#{project.application.form.summary.intro.row.six}"></p></li>
            </ul>
        </div>
        <div class="text-box">
            <p clf:textTranslationByDataLanguage="${projectDataSectionA.intro}"></p>
        </div>
        <div class="text-box" th:if="${dataLanguage.name != 'EN'}">
            <p th:text="${clfUtils.getEnglishTranslation(projectDataSectionA.intro)}"></p>
        </div>
    </div>
</th:block>
</body>
</html>