<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="projectData" type="io.cloudflight.jems.plugin.contract.models.project.ProjectData"*/-->
<!--/*@thymesVar id="callData" type="io.cloudflight.jems.plugin.contract.models.call.CallDetailData"*/-->
<head>
    <link rel="stylesheet" type="text/css" media="all" href="styles/common.css" th:href="@{styles/common.css}"/>
    <th:block th:insert="~{fragments/application-form-index.html :: applicationFormIndex(${projectData})}"></th:block>
</head>
<body id="first-page">
<p th:text="#{jems.standard.application.form.export.section.a.project.overview}"
class="headline"> SECTION A - Project overview</p>
<div th:insert="~{fragments/project-overview.html :: projectOverview(${projectData.sectionA}, ${projectData.sectionB.partners})}"></div>
<div class="page-break-after"></div>
<div th:if="${projectData.sectionB.partners.size() >0 || projectData.sectionB.associatedOrganisations.size() > 0}"
     class="headline" id="sectionB" th:text="#{jems.standard.application.form.export.section.b.partners}">Section B -
    partners
</div>
<th:block th:if="${projectData.sectionB.partners.size() >0}">
    <div class="title" id="partnersOverview" th:text="#{jems.standard.application.form.export.partner.overview}">
        Partners
        overview
    </div>
    <div th:insert="~{fragments/partners-overview-table.html :: partnersOverviewTable(${projectData.sectionB})}"></div>
    <div th:insert="~{fragments/partner-detail-table.html :: partnerDetailTable(${projectData.sectionB})}"></div>
</th:block>
<th:block th:if="${projectData.sectionB.associatedOrganisations.size() > 0}">
    <div class="page-break-after"></div>
    <div class="title" id="associatedOrganizations"
         th:text="#{jems.standard.application.form.export.associated.organizations}">Associated
        organizations
    </div>
    <div th:insert="~{fragments/partner-associated-organizations-table.html :: partnerAssociatedOrganizationTable(${projectData.sectionB.associatedOrganisations})}"></div>
</th:block>
</body>
</html>