@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@page {
    size: A4 portrait;
    margin: 20mm 15mm;
    @bottom-right {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 14px;
        content: counter(page);
    }
    @top-center {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        content: element(input);
    }
}

@page :first {
    @top-center { content: none; }
    @bottom-right { content: none; }
}

@page landscape {
    margin: 20mm 15mm;
    size: A4 landscape;
}

html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.landscape {
    /*we need to set this because openPdfToHtml uses A4 width as the width of body*/
    /* this is 297mm (A4 landscape width) - 30mm(margins) - 2mm (to make borders visible)*/
    width: 265mm;
    page: landscape
}
.break-long-word {
    max-width: 800px;
    word-wrap: break-word;
}

.page-break-after {
    display: block;
    clear: both;
    page-break-after: always;
}

.page-break-before {
    display: block;
    clear: both;
    page-break-before: always;
}

.prevent-first-page-break .page-break-before:first-child{
    page-break-before: avoid !important;
}


.keep-together {
    page-break-inside: avoid;
}

.headline {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.sub-heading-2 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.sub-heading-1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;

}

.xs-column {
    width: 30px;
}

.m-column {
    min-width: 150px;
}

.m-row {
    height: 100px;
}

.l-row {
    height: 150px;
}

.text-center {
    text-align: center;
    vertical-align: middle !important;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.right-border {
    border-right: 1px solid #d2dade !important;
}

.bottom-border {
    border-bottom: 1px solid #d2dade !important;
}

.mt-1 {
    margin-top: 8px !important;
}

.mt-1rem{
    margin-top: 1rem !important;
}

.mt-2rem {
    margin-top: 2rem !important;
}

.mt-3rem {
    margin-top: 3rem !important;
}

.mt-4rem {
    margin-top: 4rem !important;
}

.mt-5rem {
    margin-top: 5rem !important;
}

.logo-s img{
    width: 300px;
    height: auto;
    padding-top: 0;
    margin-left: 0;
}

.default-table .row-bordered td,
.default-table .row-bordered th,
.default-vertical-table .table-body .row-bordered td,
.default-vertical-table .table-body .row-bordered th,
.default-table-no-pagination .row-bordered td,
.default-table-no-pagination .row-bordered th {
    border-top: 1px solid #d2dade;
    border-bottom: 1px solid #d2dade;
}

.default-table .number,
.default-table .percentage,
.default-vertical-table .number,
.default-vertical-table .percentage,
.default-table-no-pagination .number,
.default-table-no-pagination .percentage {
    text-align: right;
}

tr, td, th:not(:block), .table-header {
    page-break-inside: avoid;
}


.long-text {
    word-wrap: break-word;
    word-break: break-all;
}

.default-table, .default-vertical-table {
    width: 100%;
    border: 1px solid #d2dade;
    text-align: left;
    border-collapse: collapse;
    overflow: hidden;
    -fs-table-paginate: paginate;
}

.default-table-no-pagination {
    width: 100%;
    border: 1px solid #d2dade;
    text-align: left;
    border-collapse: collapse;
    overflow: hidden;
}

.default-table th,
.default-table td,
.default-vertical-table th,
.default-vertical-table td,
.default-table-no-pagination th,
.default-table-no-pagination td {
    padding: 8px;
    border: 0;
    vertical-align: top;
    overflow-x: hidden;
    word-break: break-word;
}

.default-table .table-body tr:nth-child(odd),
.default-vertical-table .table-body tr:nth-child(odd),
.default-table-no-pagination .table-body tr:nth-child(odd) {
    background-color: #f4fafe;
}

.default-table .table-header th, .default-table-no-pagination .table-header th {
    border-bottom: 1px solid #d2dade;
    border-top: 1px solid #d2dade;
    color: #8a8a8a;
}

.default-vertical-table .table-body th {
    border-right: 1px solid #d2dade;
    border-bottom: 0;
    border-top: 0;
    width: 300px;
    color: #8a8a8a;
}

.default-vertical-table .table-header td, .default-vertical-table .table-header td {
    border-bottom: 1px solid #d2dade;
    border-top: 1px solid #d2dade;
}

.remove-zebra.default-table .table-body tr:nth-child(odd), .remove-zebra.default-vertical-table .table-body tr:nth-child(odd) {
    background-color: #ffffff;
}

tr.remove-zebra th, tr.remove-zebra td {
    background-color: #ffffff !important;
}

.default-table td[rowspan="0"],
.default-vertical-table td[rowspan="0"],
.default-table-no-pagination td[rowspan="0"] {
    display: none;
}

.input-data{
    background-color: #f4fafe;
    padding: 16px ;
    margin: 8px 0;
}
.multiline {
    white-space: pre-wrap;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 125px;
    margin-bottom: 25px;
    max-height: 450px;
}

.info-header-section {
    position: running(input);
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 11px;
}

.info-header-item {
    width: 200px;
    display: inline-block;
    padding:5px;
    word-wrap:break-word;
}

.info-header-item.italic {
    font-style: italic;
}

ol.lower-alphabet {
    list-style-type: lower-alpha;
    line-height: 1.7;
}

ol.upper-roman {
    list-style-type: upper-roman;
    line-height: 1.6;
}
